<div id="career-container">
  <h2 class="page-header"><%= @career.title %></h2>
  <div id="content"><%= @career.content %></div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <div class="panel-group" id="accordion">
        <% @openings.each do |opening| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= opening.header %></a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body" data-message="<%= opening.header %>">
                <div class="row">
                  <div class="col-sm-12 col-xs-12 col-md-9 col-lg-9 opening-description"><%= opening.description %></div>
                  <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <a class="btn btn-success btn-block apply-btn">Apply</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="overlay" style="display: none;">
    <div class="close-overlay"><i class="fa fa-close"></i></div> 
    <h4 class="page-header">Job Application</h3>
    <div class="row">
      <div class="full-height ps-form col-xs-12 col-sm-10 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <%= form_for(@job_application, :remote => true, :data => {:type => :json}) do |f| %>
        <%#= form_for(@job_application, :remote => true, :html => {:class =>"full-height ps-form", :"data-type" => "json", :multipart => true} ) do |f| %>
          <div class="form-inline ps-form-element-container">
            <div class="form-group full-width">
                <%= f.label :name, :class => "form-label ps-form-label col-xs-12 col-sm-12 col-md-2 col-lg-2",  :value => "Name: " %>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <%= f.text_field :name, :maxlength =>50, :class => "form-control ps-form-input full-width",:placeholder => "Enter Your Name",  value: "", :autocomplete => "off", :required => true %>
                </div>
            </div>
          </div>
          <div class="form-inline ps-form-element-container">
            <div class="form-group full-width">
                <%= f.label :email, :class => "form-label ps-form-label col-xs-12 col-sm-12 col-md-2 col-lg-2",  :value => "Email: " %>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <%= f.text_field :email, :maxlength =>50, :class => "form-control ps-form-input full-width",:placeholder => "Enter Your Valid Email Address",  value: "", :autocomplete => "off", :required => true %>
                </div>
            </div>
          </div>
          <div class="form-inline ps-form-element-container">
            <div class="form-group full-width">
                <%= f.label :subject, :class => "form-label ps-form-label col-xs-12 col-sm-12 col-md-2 col-lg-2",  :value => "Subject: " %>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <%= f.text_field :subject, :maxlength =>50, :class => "form-control ps-form-input full-width",:placeholder => "Enter Subject",  value: "", :autocomplete => "off", :required => true %>
                </div>
            </div>
          </div>
          <div class="form-inline ps-form-element-container">
            <div class="form-group full-width">
                <%= f.label :message, :class => "form-label ps-form-label col-xs-12 col-sm-12 col-md-2 col-lg-2",  :value => "Message: " %>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <%= f.text_area :message, :maxlength =>50, :class => "form-control ps-form-input full-width",:placeholder => "Enter Message",  value: "", :autocomplete => "off", :required => true %>
                </div>
            </div>
          </div>
          <div class="form-inline ps-form-element-container">
            <div class="form-group full-width">
                <%= f.label :resume, :class => "form-label ps-form-label col-xs-12 col-sm-12 col-md-2 col-lg-2",  :value => "Resume: " %>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <%= f.file_field :resume, :class => "form-control ps-form-input full-width", :placeholder => "Upload Resume",  value: "", :autocomplete => "off", :required => true %>
                </div>
            </div>
          </div>

          <div class="actions form-group">
            <%= f.submit "Apply", :class => "btn btn-success malign-right"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8" async defer>
  $(function(){
    $(".apply-btn").unbind('click').on("click", function(e){
      var $this = $(e.currentTarget);
      var message = $this.closest(".panel-body").attr("data-message");
      $("#job_application_subject").val(message);
      $(".overlay").velocity("transition.expandIn");
    })

    $(".close-overlay").unbind("click").on("click", function(e){
      $(".overlay").velocity("transition.expandOut");
    });
  })
</script>