<div id="career-container">
  <h2 class="page-header"><%= @career.title %></h2>
  <div id="content"><%= @career.content %></div>
  <div class="row no-margin">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <div class="panel-group" id="accordion">
        <% @openings.each do |opening| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= opening.header %></a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body" data-message="<%= opening.header %>">
                <div class="row">
                  <div class="col-sm-12 col-xs-12 col-md-9 col-lg-9 opening-description"><%= opening.description %></div>
                  <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <a class="btn btn-success btn-block apply-btn">Apply</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="overlay" style="display: none;">
    <div class="close-overlay"><i class="fa fa-close"></i></div>
    <h4 class="page-header">Job Application</h3>

    <div class="row no-margin ps-form">
      <div class="col-xs-12 col-sm-8  col-md-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <%= form_for(@job_application, :remote => true, :data => {:type => :json}) do |f| %>
          <div class="ps-row">
            <%= f.text_field :name, :maxlength =>50, :class => "ps-form-input",:placeholder => "Name",  value: "", :autocomplete => "off", :required => true %>
          </div>
          <div class="ps-row">
            <%= f.text_field :email, :maxlength =>50, :class => "ps-form-input",:placeholder => "Email",  value: "", :autocomplete => "off", :required => true %>
          </div>
          <div class="ps-row">
            <%= f.text_field :subject, :maxlength =>50, :class => "ps-form-input",:placeholder => "Position",  value: "", :autocomplete => "off", :required => true %>
          </div>
          <div class="ps-row">
            <%= f.text_area :message, :maxlength =>50, :class => "ps-form-input",:placeholder => "Cover Letter",  value: "", :autocomplete => "off", :required => true %>
          </div>
          <div class="ps-row">
            <%= f.file_field :resume, :class => "ps-form-input", :placeholder => "Resume",  value: "", :autocomplete => "off", :required => true %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8" async defer>
  $(function(){
    $(".apply-btn").unbind('click').on("click", function(e){
      var $this = $(e.currentTarget);
      var message = $this.closest(".panel-body").attr("data-message");
      $("#job_application_subject").val(message);
      $(".overlay").velocity("transition.expandIn");
    })

    $(".close-overlay").unbind("click").on("click", function(e){
      $(".overlay").velocity("transition.expandOut");
    });
  })
</script>