<!DOCTYPE html>
<html>
  <head>
    <title>Prachar</title>
    <%= mobvious_javascript %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
		<logo>

		</logo>
  	</nav>
  	<div class="container-fluid" id="main-container">
    	<%= yield %>
  	</div>
  </body>
</html>
